@model WAD.WebApp._7986.BookRent.ViewModels.BookFormViewModel
@{
    ViewBag.Title = "BookForm";
}


<h2>Book Details</h2>
<hr />


@using (@Html.BeginForm("Save", "Book"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Book.Title)
        @Html.TextBoxFor(m => m.Book.Title, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Book.Author)
        @Html.TextBoxFor(m => m.Book.Author, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Book.PublishedDate)
        @Html.TextBoxFor(m => m.Book.PublishedDate, "{0:MM/dd/yyyy}", new { @class = "form-control", @type = "date" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Book.GenreId)
        @Html.DropDownListFor(m => m.Book.GenreId, new SelectList(Model.Genres, "GenreId", "GenreName"), "Select Genre", new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.Book.BookId)

    var c = @Model.Book.BookId > 0 ? "Update" : "Save";
    <button type="submit" class="btn btn-primary">@c</button>
}   