@model IEnumerable<WAD.WebApp._7986.BookRent.Models.IndexBook>

@{
    ViewBag.Title = "Index";
}

<h2>Book Details</h2>
<hr />

<button class="">@Html.ActionLink("Add Books", "AddBook")</button>


<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Book.Title)</th>
            <th>@Html.DisplayNameFor(m => m.Book.Author)</th>
            <th>@Html.DisplayNameFor(m => m.Book.PublishedDate)</th>
            <th>@Html.DisplayNameFor(m => m.Book.GenreId)</th>
        </tr>
    </thead>


    <tbody>
        @foreach (var book in Model)
        {
        <tr>
            <td>@book.Book.Title</td>
            <td>@book.Book.Author</td>
            <td>@book.Book.PublishedDate</td>
            <td>@book.Genre.GenreName</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = book.Book.BookId })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = book.Book.BookId })</td>
        </tr>

        }
    </tbody>
</table>